h1 {
	border-bottom: 1px solid #5f6a72;
	margin-top: 5px;
} h2 {
	border-bottom: 1px solid #7e878e;
} h3 {
	border-bottom: 1px solid #9fa5aa;
} h4 {
	border-bottom: 1px solid #bfc3c6;
} h5 {
	border-bottom: 1px solid #dfe1e2;
} h6 {
	border-bottom: 1px solid #ffffff;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
color: white;
background-color: #5f6a72;

background-image: -moz-linear-gradient(top, #5f6a72, #474f55);
background-image: -ms-linear-gradient(top, #5f6a72, #474f55);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5f6a72), to(#474f55));
background-image: -webkit-linear-gradient(top, #5f6a72,#474f55);
background-image: -o-linear-gradient(top, #5f6a72, #474f55);
background-image: linear-gradient(top, #5f6a72, #474f55);
background-repeat: repeat-x;

text-shadow: 0 2px 0 black;
}

.nav-list > li > a:hover {

color:white;
	text-shadow: 0 2px 0 black;
	background-color: #5f6a72;

background-image: -moz-linear-gradient(top, #5f6a72, #474f55);
  background-image: -ms-linear-gradient(top, #5f6a72, #474f55);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5f6a72), to(#474f55));
  background-image: -webkit-linear-gradient(top, #5f6a72,#474f55);
  background-image: -o-linear-gradient(top, #5f6a72, #474f55);
  background-image: linear-gradient(top, #5f6a72, #474f55);
  background-repeat: repeat-x;
}

.navbar-inner {
  /* Gradients for modern browsers, replace as you see fit */
  background-image: -moz-linear-gradient(top, #d21034, #a30c28);
  background-image: -ms-linear-gradient(top, #d21034, #a30c28);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d21034), to(#a30c28));
  background-image: -webkit-linear-gradient(top, #d21034,#a30c28);
  background-image: -o-linear-gradient(top, #d21034, #a30c28);
  background-image: linear-gradient(top, #d21034, #a30c28);
  background-repeat: repeat-x;
  background-color: #d21034; /* fallback color, place your own */
   /* IE8-9 gradient filter */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d21034', endColorstr='#a30c28', GradientType=0);

  border-bottom:1px solid #5f6a72;
border-left: 1px solid #5f6a72;
border-right: 1px solid #5f6a72;
}

.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
	background-color: #d21034;
 background-image: -moz-linear-gradient(top, #d21034, #a30c28);
  background-image: -ms-linear-gradient(top, #d21034, #a30c28);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d21034), to(#a30c28));
  background-image: -webkit-linear-gradient(top, #d21034,#a30c28);
  background-image: -o-linear-gradient(top, #d21034, #a30c28);
  background-image: linear-gradient(top, #d21034, #a30c28);
  background-repeat: repeat-x;
  text-shadow: 0 2px 0 black;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
 background-color: #5f6a72;
 background-image: -moz-linear-gradient(top, #5f6a72, #474f55);
  background-image: -ms-linear-gradient(top, #5f6a72, #474f55);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5f6a72), to(#474f55));
  background-image: -webkit-linear-gradient(top, #5f6a72,#474f55);
  background-image: -o-linear-gradient(top, #5f6a72, #474f55);
  background-image: linear-gradient(top, #5f6a72, #474f55);
  background-repeat: repeat-x;
  
  text-shadow: 0 2px 0 black;
}

.navbar .nav > li > a {
color: white;
text-shadow: 0 2px 0 black;
}

.navbar .nav > li > a:hover {
color: white;
text-shadow: 0 2px 0 black;
}

.navbar-inner .brand {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color:white;
	text-shadow: 0 2px 0 black;
}

article {

border:1px solid #5f6a72;
background-color:#eff0f0;

background-image: -moz-linear-gradient(top, #eff0f0, #dfe1e2);
  background-image: -ms-linear-gradient(top, #eff0f0, #dfe1e2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eff0f0), to(#dfe1e2));
  background-image: -webkit-linear-gradient(top, #eff0f0,#dfe1e2);
  background-image: -o-linear-gradient(top, #eff0f0, #dfe1e2);
  background-image: linear-gradient(top, #eff0f0, #dfe1e2);
  background-repeat: repeat-x;

}

#footer {
	text-shadow: 0 2px 0 black;
        background-image: -moz-linear-gradient(top, #5f6a72, #474f55);
  background-image: -ms-linear-gradient(top, #5f6a72, #474f55);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5f6a72), to(#474f55));
  background-image: -webkit-linear-gradient(top, #5f6a72,#474f55);
  background-image: -o-linear-gradient(top, #5f6a72, #474f55);
  background-image: linear-gradient(top, #5f6a72, #474f55);
  background-repeat: repeat-x;
}

article a {
	-webkit-transition:color .2s ease-in-out;
	color: #d21034;
}

article a:hover {
color:#5f6a72;
}

a {
color:#d21034;
}

a:hover {

color:#d21034;

}

article pre {
	color: black;
background-color: #eff0f0;
border: 1px solid #5f6a72;
}

code { 	color: #333333;}

article code {
	color: #333333;
	border-color: #5f6a72;
	background-color: #eff0f0;
}