.navbar-inner {
	display:none;
}

article {
	min-width: 100%;
	border: 0px;
}


#toc {
	display: none;
}

#footer {
	display:none;
}

pre.prettyprint {
border: 1px solid #000 !important;
}

article pre.prettyprint, 
article .table, 
article .table td, 
article .table th {
    border-color: #000 !important;
}


code.prettyprint {
border: 0px solid #000 !important;
}

body, #content, #container {
   width: 100%;
   margin: 0;
   float: none;
   background: #fff url(none);
}

/* SECTION 2: Remove any elements not needed in print. 
   This would include navigation, ads, sidebars, etc. */
#topnav, #navbar, #nav, #sidebar, .ad, .noprint {
   display: none; 
}

/* SECTION 3: Set body font face, size, and color.
   Consider using a serif font for readability. */
h1,h2,h3,h4,h5,h6 {
   color: #000; 
}

article h2 {
    border-bottom-color: black;
}

article blockquote {
border-left-color: black;
border-bottom: 0;
border-top: 0;
border-right: 0;
border-left: 1px solid black;
}

/* SECTION 4: Set heading font face, sizes, and color.
   Diffrentiate your headings from your body text.
   Perhaps use a large sans-serif for distinction. */
h1 { font-size: 250%; }
h2 { font-size: 175%; }
h3 { font-size: 135%; }
h4 { font-size: 100%; }
h5 { font-size: 100%; }
h6 { font-size: 90%;  }

/* SECTION 5: Make hyperlinks more usable.
   Ensure links are underlined, and consider appending
   the URL to the end of the link for usability. */
a:link, a:visited {
   color: #00c;
   font-weight: bold;
   text-decoration: underline; }
#content a:link:after, #content a:visited:after {
   content: " (" attr(href) ") ";
}
