html, body {
height: 100%;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
}

pre {
margin-top: 10px !important;
margin-bottom: 10px !important;
}

dt {
    float: left;
    clear: right;
    width: 160px;
    text-align: center;
    font-weight: bold !important;
	padding: 8px 8px 8px 8px;
  }

  dt+dd {
	margin:0 0 0 160px;
  }

dd:last-child {
border-bottom: 1px solid #ddd;
}

dd+dt+dd {
border-top: 1px solid #ddd;
}

dd+dt {
	border-top: 1px solid #ddd;
}

@media(max-width:768px){

	.deflist-responsive {
        width: 100%;
		min-width:320px;
        margin-bottom: 15px;
        overflow-x: scroll;
        overflow-y: hidden;
        border: 1px solid #ddd
    }

    .deflist-responsive>dl {
        margin-bottom: 0;
    }

	.deflist-responsive dt {
		padding: 0px 0px 0px 0px;
	}

}

dd {
margin:0 0 0 160px;
	padding: 8px 8px 8px 8px;
}
dd+dd {
border-top: 1px solid #ddd;
}

.container {
	margin-left: 15px;
	margin-right: 15px;
}

#tocContainer {
margin-left: 0px;
}

#toc a {
padding-left: 6px;
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}


/* table of contents */

#toc a {
	color: #777;
}

#toc .nav-list > .active > a, 
#toc .nav-list > .active > a:hover, 
#toc .nav-list > .active > a:focus {
color: #d21034;
text-shadow: 0px 1px 0px white;
}

#top {
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, #f8f8f8, #fdfdfd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#fdfdfd));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #fdfdfd);
  background-image: -o-linear-gradient(top, #f8f8f8, #fdfdfd);
  background-image: linear-gradient(to bottom, #f8f8f8, #fdfdfd);
  border-bottom: 0;
}

#bottom {
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, #fdfdfd, #f8f8f8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#f8f8f8));
  background-image: -webkit-linear-gradient(top, #fdfdfd, #f8f8f8);
  background-image: -o-linear-gradient(top, #fdfdfd, #f8f8f8);
  background-image: linear-gradient(to bottom, #fdfdfd, #f8f8f8);
  border-top: 0;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #d21034;
}

.navbar-brand {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #d21034 !important;	
}

a {
	color: #d21034;
}

a:hover {
	color: #9F0001;
}

#toc.affix {
top:0px;
bottom:60px;
}

#tocContainer {
margin-left: 0px;
}

.dropdown-menu {
background-color: rgba(255,255,255,0.95);
}

#toc:hover a:hover {
-webkit-transition: color 0s ease-in-out;
-moz-transition: color 0s ease-in-out;
-ms-transition: color 0s ease-in-out;
-o-transition: color 0s ease-in-out;
}


/* footer */

#wrap {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0px auto 20px;
}

#push, #footer {
height: 40px;
display:block;
} 

/* Visibility classes */

@media (max-width: 979px) {
    body,html {
    padding: 0px;
    
    }
    
    article {
    min-width: 100%;
    }
    
    .navbar {
    margin: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    }
    
    .navbar-inner {
    padding: 0px 0px 0px 14px;
    }
    
    .btn-navbar {
    margin-top: 100px;
    }
    
    .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
    color: white;
    }
    
    article {
    border: 0px;
    margin-bottom: 60px;
    }
    
    #wrap {
    margin:0px;
    padding: 0px;
    }
}



h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
	font-size: inherit;
}
article {
	padding-left: 50px;
}

.navbar, #toc{
	font-family: Helvetica !important;
	font-size: 14px;
}
