
html {
	background-color: transparent;
}

body {
font-family:"Helvetica Neue Light", Helvetica, Arial, sans-serif;
background-color: #FFFFFE;
}

h1,h2,h3,h4,h5,h6 {
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
font-weight: 500;
text-rendering: optimizeLegibility;
}

h1 {
	border-bottom: 1px solid #5f6a72;
	margin-top: 5px;
} h2 {
	border-bottom: 1px solid #7e878e;
} h3 {
	border-bottom: 1px solid #9fa5aa;
} h4 {
	border-bottom: 1px solid #bfc3c6;
} h5 {
	border-bottom: 1px solid #dfe1e2;
} h6 {
	border-bottom: 1px solid #ffffff;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
color: white;
background-color: #5f6a72; 

background-image: -moz-linear-gradient(top, #5f6a72, #474f55);
  background-image: -ms-linear-gradient(top, #5f6a72, #474f55);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5f6a72), to(#474f55));
  background-image: -webkit-linear-gradient(top, #5f6a72,#474f55);
  background-image: -o-linear-gradient(top, #5f6a72, #474f55);
  background-image: linear-gradient(top, #5f6a72, #474f55);
  background-repeat: repeat-x;

text-shadow: 0 2px 0 black;
}


.navbar {
margin-bottom: 19px;
}



.nav-list > li > a:hover {

color:white;
	text-shadow: 0 2px 0 black;
	background-color: #5f6a72; 

background-image: -moz-linear-gradient(top, #5f6a72, #474f55);
  background-image: -ms-linear-gradient(top, #5f6a72, #474f55);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5f6a72), to(#474f55));
  background-image: -webkit-linear-gradient(top, #5f6a72,#474f55);
  background-image: -o-linear-gradient(top, #5f6a72, #474f55);
  background-image: linear-gradient(top, #5f6a72, #474f55);
  background-repeat: repeat-x;
}

.navbar-inner .brand {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color:white;
	text-shadow: 0 2px 0 black;
}

.navbar-inner {
  background-color: #d21034; /* fallback color, place your own */
border: 0px;
border-bottom:1px solid #5f6a72;
border-left: 1px solid #5f6a72;
border-right: 1px solid #5f6a72;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;

  /* Gradients for modern browsers, replace as you see fit */
  background-image: -moz-linear-gradient(top, #d21034, #a30c28);
  background-image: -ms-linear-gradient(top, #d21034, #a30c28);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d21034), to(#a30c28));
  background-image: -webkit-linear-gradient(top, #d21034,#a30c28);
  background-image: -o-linear-gradient(top, #d21034, #a30c28);
  background-image: linear-gradient(top, #d21034, #a30c28);
  background-repeat: repeat-x;

  /* IE8-9 gradient filter */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d21034', endColorstr='#a30c28', GradientType=0);
}

.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
	background-color: #d21034;
 background-image: -moz-linear-gradient(top, #d21034, #a30c28);
  background-image: -ms-linear-gradient(top, #d21034, #a30c28);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d21034), to(#a30c28));
  background-image: -webkit-linear-gradient(top, #d21034,#a30c28);
  background-image: -o-linear-gradient(top, #d21034, #a30c28);
  background-image: linear-gradient(top, #d21034, #a30c28);
  background-repeat: repeat-x;
  text-shadow: 0 2px 0 black;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
 background-color: #5f6a72;
 background-image: -moz-linear-gradient(top, #5f6a72, #474f55);
  background-image: -ms-linear-gradient(top, #5f6a72, #474f55);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5f6a72), to(#474f55));
  background-image: -webkit-linear-gradient(top, #5f6a72,#474f55);
  background-image: -o-linear-gradient(top, #5f6a72, #474f55);
  background-image: linear-gradient(top, #5f6a72, #474f55);
  background-repeat: repeat-x;
  
  text-shadow: 0 2px 0 black;
}

.navbar .nav > li > a {
color: white;
text-shadow: 0 2px 0 black;
}

.navbar .nav > li > a:hover {
color: white;
text-shadow: 0 2px 0 black;
}

article {
display:block;
font-weight: 300;
border:1px solid #5f6a72;
background-color:#eff0f0;
font-family:"Helvetica Neue Light", Helvetica, Arial, sans-serif;
font-size:15px;
line-height:1.25;
min-height:100%;
padding-left:19px;
padding-right:19px;
padding-top: 4px;
padding-bottom:4px;
position:relative;
zoom:1;

background-image: -moz-linear-gradient(top, #eff0f0, #dfe1e2);
  background-image: -ms-linear-gradient(top, #eff0f0, #dfe1e2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eff0f0), to(#dfe1e2));
  background-image: -webkit-linear-gradient(top, #eff0f0,#dfe1e2);
  background-image: -o-linear-gradient(top, #eff0f0, #dfe1e2);
  background-image: linear-gradient(top, #eff0f0, #dfe1e2);
  background-repeat: repeat-x;

}

article p {
	text-align: justify;
}
.navbar ul, .nav ul {
	padding-left: 0px;
}

.row-fluid [class*="span"]{
	margin-left: 0px;
}

article p {
	font-size:16px;
	line-height: 1.375;
}

blockquote p {
	font-size: 16px;
}

blockquote {
	margin: 0 0 10px;
	border-left: 5px solid #5f6a72;
}

#footer {
	border: 0px;
border-top:1px solid #5f6a72;
border-left: 1px solid #5f6a72;
border-right: 1px solid #5f6a72;
}

blockquote p {
font-style:italic;
line-height:1.5em;
font-size: 17px;
font-weight: 200;
}

article a {
	-webkit-transition:color .2s ease-in-out;
	color: #d21034;
}

article pre {
padding: 2px 2px;
color: black;
background-color: #eff0f0;
border: 1px solid #5f6a72;
}

code {
	font-size: 14px;
	font-weight: 200;
	color: #333333;
}

article code {
	padding: 2px 2px;
	color: #333333;
	border-color: #5f6a72;
	background-color: #eff0f0;
}

article ul {
	margin: 0px;
}

article ol {
	margin: 0px;
}

article li p {
	margin: 0px;
}

article li {
	font-size: 16px;
	line-height: 1.425em;
}

article a:hover {
color:#5f6a72;
}

a {
color:#d21034;
}

a:hover {

color:#d21034;

}

article b, article strong {
font-weight: 500;
}

.navbar select {
margin-top:5px;
float: right;
}

@media screen and (min-width: 767px) {
.navbar-inner .brand {
	padding-left: 40px;
		article { min-width: 100%; }
}

.navbar-inner {
	border-left: 0px solid #5f6a72;
border-right: 0px solid #5f6a72;
}
}

/* styles for desktop */
.tinynav { display: none }

/* styles for mobile */
@media screen and (max-width: 1024px) {
    .tinynav { display: block }
    #nav { display: none }
}

p + p {
  text-indent: 1.5em;
  }

blockquote p + p {
	text-indent: 0em;
}

html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0px auto 20px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 40px;
		display:block;
      }
      #footer {
      text-shadow: 0 2px 0 black;
        background-image: -moz-linear-gradient(top, #5f6a72, #474f55);
  background-image: -ms-linear-gradient(top, #5f6a72, #474f55);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5f6a72), to(#474f55));
  background-image: -webkit-linear-gradient(top, #5f6a72,#474f55);
  background-image: -o-linear-gradient(top, #5f6a72, #474f55);
  background-image: linear-gradient(top, #5f6a72, #474f55);
  background-repeat: repeat-x;
      }
      
      #footer p {
	      margin-left:40px;
	      margin-top:10px;
      }
      
      #footer a {
      -webkit-transition:color .2s ease-in-out;
	      color: white;
	      text-decoration: none;
      }
      
      #footer a:hover {
	      color:#dfe1e2;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          padding-left: 20px;
          padding-right: 20px;
        }
      }

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px)and (orientation:portrait){
	article { min-width: 100%;}
}

